body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}
#game-explanation {
  margin: 10px auto;
  padding: 10px;
  background-color: #23324769;
  border-radius: 10px;
  max-width: 600px;
  text-align: justify;
  box-shadow:  15px 10px 15px 10px rgba(207, 204, 204, 0.5);;
}

#game-explanation h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: white;
  text-align: center;
}

#game-explanation p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #f0f0f0;
}


.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
